<ng-container *ngIf="videoDetails$ | async as details; else detailsNotFound">
  <mat-card>
    <mat-card-header class="mat-h2">{{ details.snippet.title }}</mat-card-header>
    <div class="thumbnail-wrapper">
      <img
        mat-card-image
        class="thumbnail"
        [ngSrc]="details.snippet.thumbnails.maxres.url"
        [width]="details.snippet.thumbnails.maxres.width"
        [height]="details.snippet.thumbnails.maxres.height"
      />
    </div>
    <mat-card-content>{{ details.snippet.description }}</mat-card-content>
    <yt-video-statistics [statistics]="details.statistics" />
  </mat-card>
</ng-container>

<ng-template #detailsNotFound>
  <h4 class="mat-h2">Sorry, video details were not found</h4>
</ng-template>
