<form [formGroup]="createVideoForm" class="create-video" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />

    <mat-error *ngIf="title.hasError('required')"> tittle is required </mat-error>
    <mat-error *ngIf="title.hasError('minlength')"> The title is too short </mat-error>
    <mat-error *ngIf="title.hasError('maxlength')"> The title is too long </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>

    <mat-error *ngIf="description.hasError('maxlength')"> The description is too long </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image Cover Link</mat-label>
    <input matInput formControlName="imageCoverLink" />

    <mat-error *ngIf="imageCoverLink.hasError('required')"> Please enter a link to the image </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Video Link</mat-label>
    <input matInput formControlName="videoLink" />

    <mat-error *ngIf="videoLink.hasError('required')"> Please enter a link to the image </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Creation Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="creationDate" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="creationDate.hasError('required')"> Please enter a creation date </mat-error>
    <mat-error *ngIf="creationDate.hasError('futureDate') && !creationDate.hasError('required')">
      The date is invalid
    </mat-error>
  </mat-form-field>

  <div formArrayName="tags">
    <ng-container *ngFor="let tag of tags.controls; let i = index">
      <mat-form-field>
        <mat-label>Tag name</mat-label>
        <input matInput [formControlName]="i" />
        <mat-error *ngIf="tag.hasError('required')"> Tag name is required </mat-error>
      </mat-form-field>
      <yt-custom-button (click)="addTag()" type="button">Add tag</yt-custom-button>
      <yt-custom-button (click)="removeTag(i)" color="warn" type="button">Remove tag</yt-custom-button>

      <mat-divider class="divider"></mat-divider>
    </ng-container>
  </div>

  <button
    mat-raised-button
    class="create-video__button"
    type="submit"
    color="primary"
    [disabled]="createVideoForm.invalid"
  >
    Create
  </button>
  <button mat-raised-button class="create-video__button" type="button" (click)="resetForm()" color="warn">Reset</button>
</form>
