<mat-tab-group>
  <mat-tab label="Search Results">
    <ng-container *ngIf="!(isLoading$ | async); else spinner">
      <div
        class="wrapper"
        *ngIf="(searchVideosAndSortData$ | async) || defaultVideosAndSortOptions | sort as searchVideos"
      >
        <yt-video *ngFor="let searchVideo of searchVideos" [video]="searchVideo"></yt-video>
      </div>
    </ng-container>
  </mat-tab>

  <mat-tab label="Favorites">
    <div
      class="wrapper"
      *ngIf="(favoriteVideosAndSortData$ | async) || defaultVideosAndSortOptions | sort as searchVideos"
    >
      <yt-video *ngFor="let searchVideo of searchVideos" [video]="searchVideo"></yt-video>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
