<mat-tab-group>
  <mat-tab label="Search Results">
    <ng-container *ngIf="!(isLoading$ | async); else spinner">
      <div
        class="wrapper"
        *ngIf="(searchVideosAndSortData$ | async) || defaultVideosAndSortOptions | sort as searchVideos"
      >
        <yt-video *ngFor="let searchVideo of searchVideos" [video]="searchVideo"></yt-video>
      </div>
    </ng-container>

    <ng-container *ngIf="pageData$ | async as page">
      <mat-paginator
        (page)="onPageChange($event, page)"
        [length]="page.pageInfo?.totalResults"
        hidePageSize="true"
        pageSize="5"
      ></mat-paginator>
    </ng-container>
  </mat-tab>

  <mat-tab label="Favorites">
    <div
      class="wrapper"
      *ngIf="(favoriteVideosAndSortData$ | async) || defaultVideosAndSortOptions | sort as searchVideos"
    >
      <yt-video *ngFor="let searchVideo of searchVideos" [video]="searchVideo"></yt-video>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
