:host {
  display: block;

  max-width: 25rem;
  height: 80vh;
  margin: 3rem auto;

  border: 1px solid black;

  .messages-wrapper {
    overflow: auto;
    height: 90%;

    .message {
      margin: 1rem;

      .text {
        margin: 0;
      }

      .my-nickname {
        color: red;
      }
    }
  }

  .message-input {
    .message-field {
      width: 85%;
    }
  }
}
