<div class="sign-up">
  <h2 class="sign-up__title mat-h-2">Sign up</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" placeholder="email@mail.com" matInput type="text" />
      <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
      <mat-error *ngIf="email.hasError('email')"> Your email is not valid </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" placeholder="password" matInput type="text" />
      <mat-error *ngIf="password.hasError('required')"> Password is required </mat-error>
      <mat-error *ngIf="password.hasError('minlength')"> Password must be 6 chars long!</mat-error>
    </mat-form-field>

    <button mat-flat-button class="sign-up__submit" color="primary" [disabled]="authForm.invalid">Submit</button>
  </form>
</div>
