<a [routerLink]="['/', 'home']">back home</a>

<ng-container *ngIf="currentChat$ | async as currentChat; else chatNotFound">
  <button mat-button *ngIf="currentChat.isCreatedByMe" color="warn" (click)="deleteGroup(currentChat.id)">
    delete group
  </button>

  <cn-button-with-countdown [countdownName]="countdownName + currentChat.id" (buttonClicked)="refreshChat()"
    >Refresh chat</cn-button-with-countdown
  >

  <h1 class="mat-h1" style="text-align: center">{{ currentChat.name }}</h1>

  <cn-chat-window [group]="currentChat" />
</ng-container>

<ng-template #chatNotFound>
  <h4 class="mat-h4">Sorry, group does not exist</h4>
</ng-template>
