<ng-container *ngIf="displayData?.snippet as snippet">
  {{ snippet.publishedAt }}
  <mat-card class="card" [ytCustomColorBar]="snippet.publishedAt">
    <img class="card__thumbnail" [src]="snippet.thumbnails.medium.url" alt="thumbnail" />

    <mat-card-header class="card__title" mat-card-title>{{ snippet.title }}</mat-card-header>

    <yt-video-statistics [statistics]="displayData?.statistics" />

    <yt-custom-button [routerLink]="['/', 'search', 'details', displayData?.id]" [color]="'basic'"
      >More...</yt-custom-button
    >
  </mat-card>
</ng-container>
