$border-width: 0.2rem;

.video-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 20rem;
  height: 25rem;

  &__thumbnail {
    width: 98%;
    height: 11rem;
    margin-top: 0.2rem;
    object-fit: contain;
  }

  &__title {
    text-align: center;
  }
}

.blue {
  border-bottom: blue $border-width solid;
}

.green {
  border-bottom: green $border-width solid;
}

.yellow {
  border-bottom: yellow $border-width solid;
}

.red {
  border-bottom: red $border-width solid;
}
