<ng-container *ngIf="videoCardData?.snippet as snippet">
  {{ snippet.publishedAt }}
  <mat-card class="video-card" [ytCustomColorBar]="snippet.publishedAt">
    <img class="video-card__thumbnail" [src]="snippet.thumbnails.medium.url" alt="thumbnail" />

    <mat-card-header class="video-card__title" mat-card-title>{{ snippet.title }}</mat-card-header>

    <yt-video-statistics [statistics]="videoCardData?.statistics" />

    <yt-custom-button [routerLink]="['/', 'search', 'details', videoCardData?.id]" [color]="'basic'"
      >More...</yt-custom-button
    >
  </mat-card>
</ng-container>
