<ng-container *ngIf="isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<mat-card *ngIf="videoDetails$ | async as details">
  <mat-card-header class="mat-headline-4">{{ details.snippet.title }}</mat-card-header>
  <div class="thumbnail-wrapper">
    <yt-video-player [videoId]="details.id" />
  </div>

  <div class="mat-h2 date">Published in {{ details.snippet.publishedAt | date }}</div>

  <mat-card-content class="mat-body-1">{{ details.snippet.description }}</mat-card-content>
  <yt-video-statistics [statistics]="details.statistics" />
</mat-card>

<ng-container *ngIf="errorMessage$ | async">
  <yt-not-found />
</ng-container>
