/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host {
  display: block;
  padding: 2rem 0;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
}

.container {
  width: 100vw;
}

.sort-form {
  width: fit-content;
  margin: auto;

  * {
    margin: 0 0.3rem;
  }
}
