<header class="header">
  <div class="container">
    <div class="logo">
      <img ngSrc="/assets/icons/youtube-logo.svg" height="45" width="70" priority alt="logo" />
    </div>

    <div class="header__search">
      <yt-search></yt-search>
      <button class="header__search--button" mat-icon-button color="basic">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div class="header__profile">
      <span>User name</span>

      <mat-icon aria-hidden="false" fontIcon="account_box"></mat-icon>
    </div>
  </div>
</header>
