<header class="header">
  <div class="container">
    <div class="header__logo" [routerLink]="['/']">
      <img ngSrc="assets/icons/youtube-logo.svg" height="45" width="70" priority alt="logo" />
    </div>

    <div class="header__search">
      <yt-search (searchFormSubmitted)="search($event)" />
      <button (click)="toggleSortingOptions()" class="header__search--button" mat-icon-button color="basic">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div>
      <yt-custom-button class="header__button" [routerLink]="['admin']"> Add video... </yt-custom-button>

      <yt-profile />
    </div>
  </div>

  <yt-sorting-options *ngIf="isSortingOptionsOpen" />
</header>
