.header {
  background-color: #ede7f6;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 95vw;
    min-height: 5rem;
    margin: auto;
  }

  &__button {
    padding-bottom: 1rem;

    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    ::ng-deep {
      /* stylelint-disable-next-line selector-class-pattern */
      .mat-mdc-button .mdc-button__label {
        margin-bottom: 0.7rem;
      }
    }
  }

  &__logo {
    cursor: pointer;
  }

  &__search {
    display: flex;
    gap: 0.3rem;
    align-items: center;

    &--input {
      width: 50vw;
    }
  }
}
